#edit {
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    background-image: linear-gradient(to top, #364E5D, #FAE4CE);
    margin-left: 15px;
}

#details {
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    background-image: linear-gradient(to top, #364E5D, #FFFFFF);
}
