<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body class="container">
        <header class="row">
            <h2 class="col-md-5">Hello {{name}}!</h2>
            <div class="col-md-1">
                <p class="logout"><a href="/vehicles/{{vehicle.id}}/maint">Return To Maint</a></p>
                </div>
            <div class="col-md-1 offset-md-1">
                <p class="logout"><a href="/logout">Log Out</a></p>
                </div>
        </header>
        <br> <!-- Yep! Break-kun is here too. He looks good and gives the right amount
                    of visual spacing relative to content size. Don't hate.-->


        <main>
            <h5>{{vehicle.model}}</h5>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if 'add_maint' in message.extra_tags %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <form action="/vehicles/{{vehicle.id}}/maint/create" method="POST" class="col-md-8 border">
                    {% csrf_token %}
                    <div class="row rowpad">
                        <p class="col-md-5">Event Date: </p> <input class="col-md-6" type="date" name="event_date">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Odometer: </p> <input class="col-md-6" type="text" name="odometer">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Provider:  </p> <input class="col-md-6" type="text" name="provider">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Maint: </p> <textarea class="col-md-6" name="maint" rows="8" cols="col-md-7"></textarea>
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Oil Change?  </p> <input class="col-md-1" type="radio" name="is_oilchg" value="False">No  <input class="col-md-1 offset-md-1" type="radio" name="is_oilchg" value="True">Yes
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">If Oil Change, Oil Used:  </p> <input class="col-md-6" type="text" name="oil_used">
                        </div>
                    <div class="row rowpad">
                        <a href="/vehicles/{{vehicle.id}}/maint" class="btn btn-warning col-md-3 offset-md-5" value="Cancel">Cancel</a>
                        <input class="col-md-3" type="submit" class="btn btn-success" value="Submit">
                        </div>
                </form>
            </div>
        </main>

        <footer>

        </footer>

    </body>
</html>
