<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Fuel Entry</title>
        <meta name="Add Vehicle" content="form for adding vehicle">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body class="container">

            <header class="row">
                <h2 class="col-md-6">Hello {{name}}! Let's Add a Fuel Entry</h2>
                <a href="/logout" class="col-md-1 offset-md-3">Log Out</a>
            </header>

        <main>
            <br>
            <h4>For the {{vehicle.model}}</h4>
            <br>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if 'fuel' in message.extra_tags %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <form action="/vehicles/{{vehicle.id}}/fuel/create" method="POST" class="col-md-6 border">
                    {% csrf_token %}
                    <div class="row rowpad">
                        <p class="col-md-4">Entry Date: </p> <input class="col-md-6 offset-md-1" type="date" name="event_date">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Odometer: </p> <input class="col-md-6 offset-md-1" type="text" name="odometer">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Trip Meter: </p> <input class="col-md-6 offset-md-1" type="text" name="trip_meter">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Gallons (3 Decimal): </p> <input class="col-md-6 offset-md-1" type="text" name="gallons">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Driving Type: </p> <select class="col-md-6 offset-md-1" name="driving_type">
                            <option value="hwy">HWY</option>
                            <option value="city">City</option>
                            <option value="off">Offroad</option>
                            <option value="combine">Combined</option>
                        </select>
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">$/gal (3 Decimal): </p> <input class="col-md-6 offset-md-1" type="text" name="ppg">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Special Fill Up?  </p> <select class="col-md-6 offset-md-1" name="fill_type">
                            <option value="reg">Regular Fill</option>
                            <option value="not_full">Check if Not Full</option>
                            <option value="now_full">1st fill after NF</option>
                        </select>
                        </div>
                    <div class="row rowpad">
                        <a href="/main" class="btn btn-warning col-md-3 offset-md-4" value="Cancel">Cancel</a>
                        <input class="col-md-3" type="submit" class="btn btn-success" value="Submit">
                        </div>
                </form>
            </div>
        </main>


        <footer>

        </footer>

    </body>
</html>
