<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body class="container">
        <header class="row">
            <h2 class="col-md-5">Hello {{name}}!</h2>
            <div class="col-md-1">
                <p class="logout"><a href="/main">Edit Fuel Entry {{this_fuel.id}}</a></p>
                </div>
            <div class="col-md-1 offset-md-1">
                <p class="logout"><a href="/logout">Log Out</a></p>
                </div>
        </header>
        <br> <!-- Yep! Break-kun is here too. He looks good and gives the right amount
                    of visual spacing relative to content size. Don't hate.-->


        <main>
            <h5>{{vehicle.model}}</h5>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if 'edit_fuel' in message.extra_tags %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <form action="/vehicles/{{vehicle.id}}/fuel/{{this_fuel.id}}/update" method="POST" class="col-md-6 border">
                    {% csrf_token %}
                    <div class="row rowpad">
                        <p class="col-md-4">Entry Date: </p> <input class="col-md-6 offset-md-1" type="date" name="event_date" value="{{this_fuel.event_date}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Odometer: </p> <input class="col-md-6 offset-md-1" type="text" name="odometer" value="{{this_fuel.odometer}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Trip Meter: </p> <input class="col-md-6 offset-md-1" type="text" name="trip_meter" value="{{this_fuel.trip_meter}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Gallons (3 Decimal): </p> <input class="col-md-6 offset-md-1" type="text" name="gallons" value="{{this_fuel.gallons}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Driving Type: </p> <select class="col-md-6 offset-md-1" name="driving_type">
                            <option value="hwy">HWY</option>
                            <option value="city">City</option>
                            <option value="off">Offroad</option>
                            <option value="combine">Combined</option>
                        </select>
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Fuel Economy:  </p> <input class="col-md-6 offset-md-1" type="text" name="mpg" value="{{this_fuel.mpg}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">$/gal (3 Decimal): </p> <input class="col-md-6 offset-md-1" type="text" name="ppg" value="{{this_fuel.ppg}}">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-4">Special Fill Up?  </p> <select class="col-md-6 offset-md-1" name="fill_type">
                            <option value="reg">Regular Fill</option>
                            <option value="not_full">Check if Not Full</option>
                            <option value="now_full">1st fill after NF</option>
                        </select>
                        </div>
                    <div class="row rowpad">
                        <a href="/vehicles/{{vehicle.id}}/fuel" class="btn btn-warning col-md-3 offset-md-4" value="Cancel">Cancel</a>
                        <input class="col-md-3" type="submit" class="btn btn-success" value="Submit">
                        </div>
                </form>
            </div>
        </main>

        <footer>

        </footer>

    </body>
</html>
