<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body>
        <header>

        </header>


        <main>

        </main>


        <footer>

        </footer>

    </body>
</html>
