<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Vehicle</title>
        <meta name="Add Vehicle" content="form for adding vehicle">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body class="container">

            <header class="row">
                <h2 class="col-md-6">Hello {{name}}! Let's Add a Vehicle</h2>
                <a href="/logout" class="col-md-1 offset-md-3">Log Out</a>
            </header>

        <main>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if 'create' in message.extra_tags %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <form action="/vehicles/create" method="POST" class="col-md-6 border">
                    {% csrf_token %}
                    <div class="row rowpad">
                        <p class="col-md-5">Make: </p> <input class="col-md-6" type="text" name="make">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Model: </p> <input class="col-md-6" type="text" name="model">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Year: </p> <input class="col-md-6" type="text" name="year">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Odometer: </p> <input class="col-md-6" type="text" name="odometer">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Log Start Date: </p> <input class="col-md-6" type="date" name="logstart">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Oil Used:  </p> <input class="col-md-6" type="text" name="oil_used">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Tires: </p> <input class="col-md-6" type="text" name="tires">
                        </div>
                    <div class="row rowpad">
                        <p class="col-md-5">Notes: </p> <textarea class="col-md-6" name="notes" rows="8" cols="col-md-6"></textarea>
                        </div>
                    <div class="row rowpad">
                        <a href="/main" class="btn btn-warning col-md-3 offset-md-5" value="Cancel">Cancel</a>
                        <input class="col-md-3" type="submit" class="btn btn-success" value="Submit">
                        </div>
                </form>
            </div>
        </main>


        <footer>

        </footer>

    </body>
</html>
