<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'recordtracker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'recordtracker/css/style.css' %}">
        <script src="{% static 'recordtracker/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'recordtracker/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'recordtracker/img/favicon.ico' %}">
        <!-- Sample img <img src="{% static 'recordtracker/img/image.jpg' %}" /> -->

    </head>
    <body class="container">
        <header class="row">
            <h2 class="col-md-6">Hello name_here!</h2>
            <div class="col-md-1">
                <p class="logout"><a href="/logout">Log Out</a></p>
                </div>
            <a href="/vehicles/new" class="btn btn-default btn-primary col-md-2 offset-md-1" role="button">Add a Vehicle!</a>
        </header>
        <br> <!-- Ha... the dastardly break strikes again -->


        <main>
            <h4>Fuel Log of {{vehicle.model}}</h4>
            <table class="table table-bordered table-hover table-dark col-md-10">
                <thead>
                    <th scope='col'>Fueling Date</th>
                    <th scope='col'>Odometer</th>
                    <th scope='col'>Trip Meter</th>
                    <th scope='col'>Gallons</th>
                    <th scope='col'>MPG</th>
                    <th scope='col'>Driving Type</th>
                </thead>
                <tbody>
                    {% for entry in fuel %}
                        <tr>
                            <td><a href="/vehicles/{{vehicle.id}}/fuel/{{entry.id}}/edit">{{entry.event_date}}</a></td>
                            <td>{{entry.odometer}}</td>
                            <td>{{entry.trip_meter}}</td>
                            <td>{{entry.gallons}}</td>
                            <td>{{entry.mpg}}</td>
                            <td>{% if entry.hwy == True %}
                                    <span>HWY</span>
                                {% elif entry.city == True %}
                                    City
                                {% elif entry.off == True %}
                                    Offroad
                                {% elif entry.combine == True %}
                                    Combined
                                {% else %}
                                    This isn't working
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <br>
            </table>
                <a href="/vehicles/{{vehicle.id}}/fuel/add">Make Fuel Entry</a> | <a href="/vehicles/{{vehicle.id}}">Go Back to Vehicle Page</a>
        </main>


        <footer>

        </footer>

    </body>
</html>
