<h5>Know of a pet needing a home?</h5>

<div *ngIf="errors">
    <div *ngFor="let err of errors">
        <span style="color: red">{{err}}</span><br/>
    </div>
</div>
<div class="box container-fluid">
    <form #newForm="ngForm">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="col-12">
            <span *ngIf="name.errors.required" class="small text-danger col-12">Name is required.</span>
            <span *ngIf="name.errors.minlength" class="small text-danger col-12">Name must be at least 3 characters.</span>
        </div>
        <label class="row">Pet Name: </label>
        <input class="row col-6" type="text" name="pet.name" required minlength="3" [(ngModel)]="pet.name" #name="ngModel">
        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="col-12">
            <span *ngIf="type.errors.required" class="small text-danger col-12">Pet Type is required.</span>
            <span *ngIf="type.errors.minlength" class="small text-danger col-12">Pet Type must be at least 3 characters.</span>
        </div>
        <label class="row">Pet Type: </label>
        <input class="row col-6" type="text" name="pet.type" required minlength="3" [(ngModel)]="pet.type" #type="ngModel">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="col-12">
            <span *ngIf="description.errors.required" class="small text-danger col-12">Pet Type is required.</span>
            <span *ngIf="description.errors.minlength" class="small text-danger col-12">Pet Type must be at least 3 characters.</span>
        </div>
        <label class="row">Pet Description: </label>
        <input class="row col-6" type="text" name="pet.description" required minlength="3" [(ngModel)]="pet.description" #description="ngModel">
        <p>Skills: </p>
        <div class="row">
            <label class="col-3 offset-1">Skill 1: </label>
            <input class="col-6" type="text" name="skill1" [(ngModel)]="skill1">
        </div>
        <div class="row">
            <label class="col-3 offset-1">Skill 2: </label>
            <input class="col-6" type="text" name="skill2" [(ngModel)]="skill2">
        </div>
        <div class="row">
            <label class="col-3 offset-1">Skill 3: </label>
            <input class="col-6" type="text" name="skill3" [(ngModel)]="skill3">
        </div>
        <br>
        <button class="btn-primary offset-3" id="submit" (click)="addPet()" [disabled]="!newForm.form.valid">Submit</button><button class="btn-primary" id="cancel" (click)="cancel()">Cancel</button>
    </form>
</div>
