<h3>Submit a new movie and your review</h3>
<form #newForm="ngForm">
    <div *ngIf="errors">
        <div *ngFor="let err of errors">
            <span style="color: red">{{err}}</span><br/>
        </div>
    </div>
    <div class="row">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="col-12">
            <span *ngIf="title.errors.required" class="small text-danger col-12">Movie Title is required.</span>
            <span *ngIf="title.errors.minlength" class="small text-danger col-12">Movie Title must be at least 3 characters.</span>
        </div>
        <label class="col-3 offset-1">Movie Title: </label>
        <input class="col-3" type="text" name="movie.title" required minlength="3" [(ngModel)]="movie.title" #title="ngModel">
    </div>
    <div class="row">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="col-12">
            <span *ngIf="name.errors.required" class="small text-danger col-12">Your Name is required.</span>
            <span *ngIf="name.errors.minlength" class="small text-danger col-12">Your Name must be at least 3 characters.</span>
        </div>
        <label class="col-3 offset-1">Your Name: </label>
        <input class="col-3" type="text" name="review.name" required minlength="3" [(ngModel)]="review.name" #name="ngModel">
    </div>
    <div class="row">
        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="col-12">
            <span *ngIf="rating.errors.required" class="small text-danger col-12">Rating is required.</span>
        </div>
        <label class="col-3 offset-1">Stars: </label>
        <select [(ngModel)]="review.rating" name="review.rating" class="col-3" #rating="ngModel">
            <option [value]="1">1 Stars</option>
            <option [value]="2">2 Stars</option>
            <option [value]="3">3 Stars</option>
            <option [value]="4">4 Stars</option>
            <option [value]="5">5 Stars</option>
        </select>
    </div>
    <div class="row">
        <div *ngIf="ureview.invalid && (ureview.dirty || ureview.touched)" class="col-12">
            <span *ngIf="ureview.errors.required" class="small text-danger col-12">Your Review is required.</span>
            <span *ngIf="ureview.errors.minlength" class="small text-danger col-12">Your Review must be at least 3 characters.</span>
        </div>
        <label class="col-3 offset-1">Your Review: </label>
        <input class="col-3 h-25" type="text" name="review.ureview" required minlength="3" [(ngModel)]="review.ureview" #ureview="ngModel">
    </div>
    <button id="submit" (click)="addMovie()" [disabled]="!newForm.form.valid">Submit</button><button id="cancel" (click)="cancel()">Cancel</button>
</form>
