.border {
    border: 2px solid black;
}

.rowpad {
    margin-bottom: 5px;
}

.padme {
    padding: 5px;
}

.logout {
    margin-top: 5px;
}

.tripbox {
    border: 2px solid black;
}

li {
    color: red;
}
